# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
# SPDX-FileCopyrightText: Copyright (c) 2026 Cooper Dalrymple
#
# SPDX-License-Identifier: MIT

Adafruit-Blinka
adafruit-circuitpython-mpr121
adafruit-circuitpython-neopixel
adafruit-circuitpython-sh1106
circuitpython-tmidi
